<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/loja.css">
</head>

<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <header id="inicio">
        <img alt="logo do site" src="../img/logo.png">
        <nav>
            <ul class="navbar">
                <li><a href="/">Inicio</a></li>
                <li><a href="/vendedor/loja">adicionar</a></li>
                <li><a href="/cliente/minhaconta">Minha conta</a></li>

            </ul>
        </nav>
        <a class="btn_log" href="login">Login</a>
        <a class="btn_log1" href="cadastro">Cadastre-se</a>
    </header>



  

    <div class="container">
        <div class="card-images">

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft1.png" alt="">
                    <h3>Ferrari</h3>
                    <h4>R$ 2.000,000</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>


            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft2.png" alt="">
                    <h3>Hyundai Tucson</h3>
                    <h4>R$ 29.000,00</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft3.png" alt="">
                    <h3>Ford Ranger Camionete series</h3>
                    <h4>R$ 80.000,00</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft4.png" alt="">
                    <h3>Camaro</h3>
                    <h4>R$ 1.900,000</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft5.png" alt="">
                    <h3>Volkswagen Gol Volkswagen Jetta</h3>
                    <h4>R$ 28.000,00</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft6.png" alt="">
                    <h3>Chevrolet Prisma</h3>
                    <h4>R$ 65.350,00</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft7.png" alt="">
                    <h3>Fiat Palio</h3>
                    <h4>R$ 38.900,00</h4>
                    <a href="#" class="comprar">Comprar</a>

                </div>
            </div>

            <div class="card">
                <div class="card-back1 whith">
                    <img src="../img_loja/ft8.png" alt="">
                    <h3>Fiat Mobi </h3>
                    <h4>R$ 68.990,00</h4>
                    <a href="#" class="comprar">Comprar</a>
                </div>
            </div>



        </div>
    </div>
</body>

</html>